In [2]:
# Nested List
l=["sarat",234,123.3,[1,2,3],True]

In [3]:
for i in l:
    print(i)

sarat
234
123.3
[1, 2, 3]
True

In [4]:
for i in l:
    if type(i)==list:
        print ("this is a list",i)
    else:
        print("this is not a list")

this is not a list
this is not a list
this is not a list
this is a list [1, 2, 3]
this is not a list

In [6]:
"manjuj" in l

False

In [7]:
l

['sarat', 234, 123.3, [1, 2, 3], True]

In [8]:
max(l)

TypeError: '>' not supported between instances of 'int' and 'str'

In [7]:
l1=[234,456,678]

In [8]:
l+l1

['sarat', 234, 123.3, [1, 2, 3], True, 234, 456, 678]

In [9]:
max(l1)

678

In [13]:
max(["zerox",'k','x'])

'zerox'

In [14]:
min(["zerox",'k','x'])

'k'

In [15]:
l.append(99)

In [16]:
l

['sarat', 234, 123.3, [1, 2, 3], True, 99]

In [9]:
l.insert(1,"sanjana")

In [10]:
l

['sarat', 'sanjana', 234, 123.3, [1, 2, 3], True]

In [11]:
6+7j

(6+7j)

In [17]:
l.append(6+6j)

In [18]:
l

['sarat', 234, 123.3, [1, 2, 3], True, 99, (6+6j)]

In [19]:
l+"sa" # datatype issue

TypeError: can only concatenate list (not "str") to list

In [20]:
l.insert(3,"great") # inserted at the index place and rest replaced to next position.

In [21]:
l

['sarat', 234, 123.3, 'great', [1, 2, 3], True, 99, (6+6j)]

In [22]:
l.insert(-1,'kl')

In [23]:
l

['sarat', 234, 123.3, 'great', [1, 2, 3], True, 99, 'kl', (6+6j)]

In [24]:
l.count(234)

1

In [26]:
l.insert(3,"sarat")

In [27]:
l.count("sarat")

2

In [28]:
l=[1,2,3]

In [29]:
l.append('sarat')

In [30]:
l

[1, 2, 3, 'sarat']

In [31]:
l.append([1,2,3,4])

In [32]:
l

[1, 2, 3, 'sarat', [1, 2, 3, 4]]

In [33]:
s='sarat'
list(s)

['s', 'a', 'r', 'a', 't']

In [12]:
l

['sarat', 'sanjana', 234, 123.3, [1, 2, 3], True]

In [19]:
l.extend("indext 567 % 3") # appended with unwrapped data ,it expects iterable objects

In [20]:
l

['sarat',
 'sanjana',
 234,
 123.3,
 [1, 2, 3],
 True,
 't',
 'e',
 's',
 't',
 'i',
 ' ',
 'a',
 'm',
 ' ',
 'g',
 'o',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 's',
 'c',
 'h',
 'o',
 'o',
 'l',
 ' ',
 '4',
 ' ',
 '#',
 '#',
 '3',
 '3',
 'i',
 'n',
 'd',
 'e',
 'x',
 't',
 ' ',
 '5',
 '6',
 '7',
 ' ',
 '%',
 ' ',
 '3']

In [36]:
l.exend(24) #24 is not iterable object

AttributeError: 'list' object has no attribute 'exend'

In [37]:
l.append([34,23,34,45])

In [38]:
l

[1, 2, 3, 'sarat', [1, 2, 3, 4], 't', 'e', 's', 't', [34, 23, 34, 45]]

In [21]:
l=[1, 2, 3, 'sarat', [1, 2, 3, 4], 't', 'e', 's', 't']
l.extend([34,23,34,45])

In [22]:
l

[1, 2, 3, 'sarat', [1, 2, 3, 4], 't', 'e', 's', 't', 34, 23, 34, 45]

In [23]:
l.index('sarat')

3

In [24]:
l=[2,3,4,5,6]

In [25]:
l.index(2)

0

In [26]:
l.pop(3) # removing last item

2

In [28]:
l

[3, 4, 5, 6]

In [29]:
l.pop(3)

6

In [30]:
l

[3, 4, 5]

In [77]:
l

[3, 4, 5, 6]

In [46]:
l

[2, 3, 4, 5]

In [47]:
l.pop(1)

3

In [48]:
l

[2, 4, 5]

In [34]:
l=[4,5,6,7,6,8]

In [35]:
l.remove(6) # removing first element as per data matching

In [36]:
l

[4, 5, 7, 6, 8]

In [37]:
l.reverse()

In [38]:
l

[8, 6, 7, 5, 4]

In [39]:
l.sort()

In [40]:
l

[4, 5, 6, 7, 8]

In [58]:

type('sarat')

str

In [99]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

for i in l:
    if type(i)==list:
        #print(type(i))
        for j in i:
            if type(j)==str:               
                print(j)
                i.pop(i.index(j))

b
b
t

In [100]:
l

[[1, 2, 3], [11, 12, 'b'], [21, 't'], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [62]:
l

[[1, 2, 3], [4, 6, 7], ['s', 'u', 'y'], 'sarat', 55, 99]

In [41]:
l=[[1,2,3],[11,12,'b','b','b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],"demo",12.5]

In [48]:
for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            
            if type(i[j]) == str:
                print(f"index of {i[j]} is {j}")
                
            j=j+1

index of b is 2
index of b is 3
index of b is 4
index of t is 1

In [49]:
for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            
            if type(i[j]) == str:
                print(f"index of {i[j]} is {j}")
                i.remove(i[j])
            j=j+1

index of b is 2
index of b is 3
index of t is 1

In [50]:
l

[[1, 2, 3], [11, 12, 'b'], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [101]:
#2. Find the index of string element in the nested list and remove the string
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1
print("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested list is 'b'
The string in the nested list is 'b'
The string in the nested list is 'b'
Index of string t is : 1
The string in the nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [52]:
# list comprehension
l=[]
for i in "sarat":
    l.append(i)

In [53]:
l

['s', 'a', 'r', 'a', 't']

In [55]:
[i for i in "sarat kumar kumar"]

['s',
 'a',
 'r',
 'a',
 't',
 ' ',
 'k',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'k',
 'u',
 'm',
 'a',
 'r']

In [106]:
[i for i in "sarat"] # first i is the output

['s', 'a', 'r', 'a', 't']

In [56]:
[[i] for i in "sarat 123 ###"]

[['s'],
 ['a'],
 ['r'],
 ['a'],
 ['t'],
 [' '],
 ['1'],
 ['2'],
 ['3'],
 [' '],
 ['#'],
 ['#'],
 ['#']]

In [57]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [58]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [109]:
l

[0, 2, 4, 6, 8]

In [112]:
[i for i in range(10) if i%2==0]  # output left side and condition right side

[0, 2, 4, 6, 8]

In [61]:
[i*4 if i%2!=0 else i+1 for i in range(10)]

[1, 4, 3, 12, 5, 20, 7, 28, 9, 36]

In [115]:
# creating a nested list
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [117]:
[[] for i in range(3)]

[[], [], []]

In [62]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [123]:
# Nested conditions
[i for i in range(8) if i%2==0 if i%3==0] # when both conditions true

[0, 6]

In [63]:
['yes' if i==1 else 'No' if i==2 else 'test' for i in range(10)] # 2nd if meaning elif

['test', 'yes', 'No', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [ ]:
# the out of list comprehension is always a list.